body {
    background-image: url('../pics/backround1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#titleDatei {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
  }

  #dateiUpload{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  

  #uploadButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
  }
  
  #uploadButton:hover {
    background-color: #ddd;
  }
  
  #titleLink{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
  }

  #linkButton{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  